@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Montserrat:wght@600&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background-color: #fff;
}

.container {
	border: 10px solid #a80054;
	border-radius: 15px;
	background-color: #bbb;
	margin: auto;
	display: grid;
	width: 70vw;
	height: 80vh;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
	justify-content: center;
	align-items: center;
}
.game-title {
	font-family: "Monoton", cursive;
	text-align: center;
	font-size: 3rem;
	color: #a80054;
	grid-area: 1/1/2/5;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
	margin: auto;
	background-color: transparent;
	width: 80%;
	height: 80%;
	perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

.flip-card-inner img {
	width: 100%;
	height: 100%;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.show {
	transform: rotateY(180deg);
}

.matched {
	transform: rotateY(180deg);
	animation-name: matched-Anime;
	animation-duration: 0.5s;
}

.disable {
	pointer-events: none;
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
	background: url("images/questionLogo.png") no-repeat center;
	background-size: contain;
	transform: rotateY(0deg);
}

/* Style the back side */
.flip-card-back {
	transform: rotateY(180deg);
}

.footer-container {
	margin: 10px auto;
	width: 70vw;
	display: flex;
	justify-content: space-evenly;
	height: 10vh;
}

.timer,
.score {
	display: flex;
	align-items: center;
	width: 15vw;
	background-color: #a80054;
}

.footer-container .timer {
	justify-content: center;
	font-size: 2rem;
	font-weight: bold;
	color: #fff;
}
.footer-container .restart {
	width: fit-content;
}
.restart img {
	width: 100%;
	height: 100%;
}
.footer-container .score {
	flex-direction: column;
}
.score-titel {
	margin-top: 0.5rem;
	font-size: 1rem;
	font-weight: bold;
	color: #fff;
}
#points {
	font-size: 2rem;
	font-weight: bold;
	color: #fff;
}

@keyframes matched-Anime {
	from {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(0.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, 0.95, 1);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}

@media only screen and (max-width: 700px) {
	.container {
		width: 100vw;
	}
	.game-title {
		font-size: 2rem;
	}
	.footer-container {
		width: 100vw;
	}
	.timer,
	.score {
		width: 30vw;
	}
	.score-titel {
		margin-top: 0.2rem;
	}
}
